USE [master]
GO
/****** Object:  Database [OrderDB]    Script Date: 4/7/2022 1:30:00 AM ******/
CREATE DATABASE [OrderDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrderDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\OrderDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrderDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\OrderDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrderDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrderDB]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/7/2022 1:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Flash] [varchar](20) NULL,
	[Customer] [varchar](60) NULL,
	[Ord] [varchar](25) NULL,
	[Steel] [varchar](60) NULL,
	[Surface] [varchar](60) NULL,
	[Thickness] [float] NULL,
	[Qty] [int] NULL,
	[Dimension1] [float] NULL,
	[Dimension2] [float] NULL,
	[Note] [text] NULL,
	[Manager] [varchar](60) NULL,
	[Operator] [varchar](60) NULL,
	[Modified] [datetime] NULL,
	[Bending] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
