@model WebApplication.Models.Document

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
        <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label  class="control-label"> Оберіть позивача</label>
                <select name="plaintiff" class="form-control" asp-items="@ViewBag.users"></select>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label  class="control-label"> Оберіть відповідача</label>
                <select name="defendant" class="form-control" asp-items="@ViewBag.users"></select>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label  class="control-label"> Оберіть суд</label>
                <select name="court" class="form-control" asp-items="@ViewBag.courts"></select>
            </div>
        </div>
        </div>
            <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

