@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Доброго дня</h1>

    <p>Сайт створено в якості дипломного проекту <a href="https://beetroot.academy/"> Beetroot academy</a>, курс С# розробка, студент Данілін В.С. </p>
    <p>За допомогою даного ресурсу, ви зможете згенерувати позоявну заяву про розірвання шлюбу. Для цього необхідно зробити три кроки.</p>
    <p>1. Заповнити інформацію про себе (позивача). </p>
    <p>2. Заповнити інформацію про іншу сторону (відповідача). Для додавання є спеціальна форма, яка <a asp-area="" asp-controller="User" asp-action="Index">доступна за посиланням</a>. </p>
    <p>3. Перейти за <a asp-area="" asp-controller="Document" asp-action="Index">посиланням</a> та натисниту кнопку Згенерувати.</p>        
</div>
