@{
    ViewData["Title"] = "Головна";
}
<div class="row">

    <div class="col">
        <div class="text-center">
            <h4>Доброго дня</h4>
        </div>
        <div class="text-left">
            <p>Сайт створено в якості дипломного проекту <a href="https://beetroot.academy/"> Beetroot academy</a>, курс С# розробка, студент Данілін В.С. </p>
            <p>За допомогою даного ресурсу, ви зможете згенерувати деякі документи. Для цього необхідно зробити три кроки.</p>
            <p>1. Заповнити інформацію про себе (позивача) <a asp-area="" asp-controller="User" asp-action="Index">за посиланням</a>. </p>
            <p>2. Заповнити інформацію про іншу сторону (відповідача) <a asp-area="" asp-controller="User" asp-action="Index">за посиланням</a>. </p>
            <p>3. Перейти <a asp-area="" asp-controller="Statement" asp-action="Create">за посиланням</a> та натисниту кнопку Згенерувати.</p>
        </div>
    </div>

</div>
