@{
    ViewData["Title"] = "Юрня";
}
<h4>@ViewData["Title"]</h4>

<p>
    Вся юридичні штуки-дрюки щодо збирання, обробки та зберігання персональної інформації.
    <br>
    Все буде додано згодом. Можливо =)
    <br>
    За необхідності - звертайтеся до веб-мастера telegram <a href="https://t.me/Vladimirys">@@vladimirys</a> , або листом <a href="mailto:vladimirs.danilin@gmail.com">vladimirs.danilin@gmail.com</a>
</p>
