.homecard {
    margin: 3%;
    transition: all .2s ease-in-out;
    color: #D1D1D1;
}

.homecard:hover{
    transform: scale(1.1);
}

.avatar{
 
    width: 300px;
    height: 300px;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
  
}
.btn-primary {
    border: solid #D1D1D1;
    background-color: #D1D1D1;
    display: flex;
    justify-content: center
}
.card-body {
    padding: 0rem 0rem;
}

