body {
	background-color: cornsilk;
}

h1 {
	font-weight: 900;
}

p {
	color: cadetblue;
}

a {
	text-decoration: none;
	color: black;
}

.about-me {
	font-size: 24px;
	font-weight: 500;
	color: blue;
}

.about-me:hover {
	color: red;
}