
.banner{
    width:600px;
    height: 310px;
    border:2px solid black;
    background-color: rgb(49, 49, 49);
}
.student{
    max-width:160px;
    max-height: 120px;
    margin-left: 55px;
    margin-top: 20px;
}
.top-cont{
    overflow: hidden;
}
.small-top-cont1{
    /* padding: 10px; */
    width:calc(100% / 3);
    /* border:1px solid black; */
    float:left;
}
.small-top-cont2{
    width:calc(100% - (100% / 3));
    float:right;
    /* border:1px solid black; */
    height: 150px;
}
.name{
    font-size: 25px;
}
.medium-cont{
    display:flex;
    justify-content:space-around;
  
}
.small-medium-cont1{
font-size: 35px;
font-weight: 600;

}
.down{
    font-size: 22px;
    font-weight: 100;
   
}
.bottom-cont{
    display: flex;
    justify-content:space-around ;
   
}
.push{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 100% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.colYellow{
    background-color: rgb(208, 208, 44);
    border-radius: 5px;
    margin-right: 5px;
}
.colBlue{
    background-color: rgb(16, 16, 162);
    border-radius: 5px;
    margin-right: 5px;
}
.colAqua{
    background-color: rgb(14, 240, 240);
    border-radius: 5px;
    margin-right: 5px;
}
.grey{
    color: grey;
}
.white{
    color:white;
}
